.listing {
    border: 1px solid rgb(153, 153, 153);
    background: rgb(211, 211, 211);
    border-radius: 5px;
    padding-bottom: 0px;
  }
  .listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }
  .listing-photo {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .listing-location {
    padding: 10px 20px 20px 20px;
  }
  .listing-location::before {
    content: url("/assets/location-pin.svg") / "";
  }
  
  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.listing a::after {
    content: "\203A";
    margin-left: 5px;
  }

.listing-info {
  padding: 15px;
  list-style: none;
  border-top: 1px solid rgb(153, 153, 153);
  border-bottom: 1px solid rgb(153, 153, 153);;
}

.listing-lm {
  padding: 15px;
  list-style: none;
  color: blue;
}